In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('audible_cleaned.csv')
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-04-08,English,5.0,468.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,788,2018-01-05,English,4.5,820.0,41.0
2,The Deep End,JeffKinney,DanRussell,123,2020-06-11,English,4.5,410.0,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,2021-05-10,English,4.5,615.0,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,2010-01-13,English,4.5,820.0,181.0
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,635,2018-10-30,English,5.0,656.0,72.0
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,143,2014-11-25,English,5.0,233.0,11.0
7,The Dark Prophecy,RickRiordan,RobbieDaymond,752,2017-02-05,English,5.0,820.0,50.0
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,656,2017-02-05,English,5.0,1256.0,5.0
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,802,2019-09-24,English,5.0,820.0,58.0

In [7]:
df.info()        # Summary of columns, data types, non-null counts
df.describe()    # Statistical summary (mean, std, etc.)
df.head()        # First few rows
df.tail()        # Last few rows
df.shape         # Number of rows and columns
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  int64
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  float64
 7   price        87489 non-null  float64
 8   ratings      87489 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.0+ MB

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price', 'ratings'],
      dtype='object')

In [8]:
df1=pd.read_csv('audible_uncleaned.csv')
df1.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233.00
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,02-05-17,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00

In [9]:
df1.info()        # Summary of columns, data types, non-null counts
df1.describe()    # Statistical summary (mean, std, etc.)
df1.head()        # First few rows
df1.tail()        # Last few rows
df1.shape         # Number of rows and columns
df1.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

In [51]:
df['price'].head(10)

0     468.0
1     820.0
2     410.0
3     615.0
4     820.0
5     656.0
6     233.0
7     820.0
8    1256.0
9     820.0
Name: price, dtype: float64

In [52]:
df1['price'].head(10)

0      468.00
1      820.00
2      410.00
3      615.00
4      820.00
5      656.00
6      233.00
7      820.00
8    1,256.00
9      820.00
Name: price, dtype: object

In [15]:

df1['author'] = df1['author'].str.split(':').str[1]
print(df1['author'])

0        GeronimoStilton
1            RickRiordan
2             JeffKinney
3            RickRiordan
4            RickRiordan
              ...
87484       ChrisStewart
87485      StephenO'Shea
87486          MarkTwain
87487     LaurenceSterne
87488      MarkKurlansky
Name: author, Length: 87489, dtype: object

In [16]:

df1['narrator'] = df1['narrator'].str.split(':').str[1]
print(df1['narrator'])

0            BillLobely
1         RobbieDaymond
2            DanRussell
3        SoneelaNankani
4        JesseBernstein
              ...
87484      ChrisStewart
87485        RobertFass
87486         FloGibson
87487       AntonLesser
87488       FleetCooper
Name: narrator, Length: 87489, dtype: object

In [18]:
df1['time'].head(10)

0     2 hrs and 20 mins
1     13 hrs and 8 mins
2      2 hrs and 3 mins
3    11 hrs and 16 mins
4                10 hrs
5    10 hrs and 35 mins
6     2 hrs and 23 mins
7    12 hrs and 32 mins
8    10 hrs and 56 mins
9    13 hrs and 22 mins
Name: time, dtype: object

In [21]:

hours = df1['time'].str.extract(r'(\d+)\s*hrs', expand=False).fillna(0).astype(int)
minutes = df1['time'].str.extract(r'(\d+)\s*mins', expand=False).fillna(0).astype(int)

# Calculate total minutes
df1['time'] = (hours * 60) + minutes

print(df1[['time']])

       time
0       140
1       788
2       123
3       676
4       600
...     ...
87484   454
87485   607
87486  1144
87487   248
87488   360

[87489 rows x 1 columns]

In [63]:
df1.head(10)

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-08-04,English,5.0,468.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,788,2018-05-01,English,4.5,820.0,41.0
2,The Deep End,JeffKinney,DanRussell,123,2020-11-06,English,4.5,410.0,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,2021-10-05,English,4.5,615.0,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,2010-01-13,English,4.5,820.0,181.0
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,635,2018-10-30,English,5.0,656.0,72.0
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,143,2014-11-25,English,5.0,233.0,11.0
7,The Dark Prophecy,RickRiordan,RobbieDaymond,752,2017-05-02,English,5.0,820.0,50.0
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,656,2017-05-02,English,5.0,1256.0,5.0
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,802,2019-09-24,English,5.0,820.0,58.0

In [29]:
df1.drop(columns=['time_minutes'], inplace=True)

In [37]:
df1['releasedate'] = pd.to_datetime(df1['releasedate'], dayfirst=True, format='%d-%m-%y')
print(df1['releasedate'])

0       2008-08-04
1       2018-05-01
2       2020-11-06
3       2021-10-05
4       2010-01-13
           ...
87484   2017-03-09
87485   2017-02-21
87486   2016-12-30
87487   2011-02-23
87488   2017-03-07
Name: releasedate, Length: 87489, dtype: datetime64[ns]

In [49]:
# Extract stars and ratings using regex
df1[['stars', 'ratings']] = df1['stars'].str.extract(r'([\d.]+) out of 5 stars(\d+) ratings?')

# Convert to numeric
df1['stars'] = pd.to_numeric(df1['stars'])
df1['ratings'] = pd.to_numeric(df1['ratings'])

df1[['stars', 'ratings']].head(10)

AttributeError: Can only use .str accessor with string values!

In [62]:
# First, remove the commas
df1['price'] = df1['price'].str.replace(',', '')

# Then, use pd.to_numeric to convert, handling potential errors gracefully
df1['price'] = pd.to_numeric(df1['price'], errors='coerce')