In [30]:
import pandas as pd
df=pd.read_csv('fifa21 raw data v2.csv')
df.head(10)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3388\2533021449.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('fifa21 raw data v2.csv')

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595
5,188545,R. Lewandowski,Robert Lewandowski,https://cdn.sofifa.com/players/188/545/21_60.png,http://sofifa.com/player/188545/robert-lewando...,Poland,31,91,91,\n\n\n\nFC Bayern München,...,High,Medium,4 ★,78,91,78,85,43,82,248
6,209331,M. Salah,Mohamed Salah,https://cdn.sofifa.com/players/209/331/21_60.png,http://sofifa.com/player/209331/mohamed-salah/...,Egypt,28,90,90,\n\n\n\nLiverpool,...,High,Medium,3 ★,93,86,81,90,45,75,246
7,212831,Alisson,Alisson Ramses Becker,https://cdn.sofifa.com/players/212/831/21_60.png,http://sofifa.com/player/212831/alisson-ramses...,Brazil,27,90,91,\n\n\n\nLiverpool,...,Medium,Medium,3 ★,86,88,85,89,51,91,120
8,231747,K. Mbappé,Kylian Mbappé,https://cdn.sofifa.com/players/231/747/21_60.png,http://sofifa.com/player/231747/kylian-mbappe/...,France,21,90,95,\n\n\n\nParis Saint-Germain,...,High,Low,3 ★,96,86,78,91,39,76,1.6K
9,192448,M. ter Stegen,Marc-André ter Stegen,https://cdn.sofifa.com/players/192/448/21_60.png,http://sofifa.com/player/192448/marc-andre-ter...,Germany,28,90,93,\n\n\n\nFC Barcelona,...,Medium,Medium,3 ★,88,85,88,90,45,88,130

In [31]:
df.info()        # Summary of columns, data types, non-null counts
df.describe()    # Statistical summary (mean, std, etc.)
df.head()        # First few rows
df.tail()        # Last few rows
df.shape         # Number of rows and columns
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [32]:
df.isnull().sum()

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

In [33]:
df['Hits'].unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', nan, 11.0,
       2.0, 1.0, 31.0, 3.0, 10.0, 9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

In [34]:
# Drop duplicates based on the 'ID' column, keeping the first entry
df.drop_duplicates(subset=['ID'], keep='first', inplace=True)

In [35]:
# Drop the 'photoUrl' and 'playerUrl' columns
df.drop(['LongName'], axis=1, inplace=True)

In [48]:
df.head(10)

,ID,Name,Nationality,Age,OVA,POT,Club,Contract,Positions,Height,...,SHO,PAS,DRI,DEF,PHY,Hits,Contract Type,Contract Start,Contract End,Contract Duration
0,158023,L. Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,...,92,91,95,38,65,771,Expired,2004.0,2021.0,17.0
1,20801,Cristiano Ronaldo,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",187cm,...,93,81,89,35,77,562,Expired,2018.0,2022.0,4.0
2,200389,J. Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,188cm,...,92,78,90,52,90,150,Expired,2014.0,2023.0,9.0
3,192985,K. De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",181cm,...,86,93,88,64,78,207,Expired,2015.0,2023.0,8.0
4,190871,Neymar Jr,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,...,85,86,94,36,59,595,Expired,2017.0,2022.0,5.0
5,188545,R. Lewandowski,Poland,31,91,91,FC Bayern München,2014 ~ 2023,ST,184cm,...,91,78,85,43,82,248,Expired,2014.0,2023.0,9.0
6,209331,M. Salah,Egypt,28,90,90,Liverpool,2017 ~ 2023,RW,175cm,...,86,81,90,45,75,246,Expired,2017.0,2023.0,6.0
7,212831,Alisson,Brazil,27,90,91,Liverpool,2018 ~ 2024,GK,191cm,...,88,85,89,51,91,120,Expired,2018.0,2024.0,6.0
8,231747,K. Mbappé,France,21,90,95,Paris Saint-Germain,2018 ~ 2022,"ST, LW, RW",178cm,...,86,78,91,39,76,1.6K,Expired,2018.0,2022.0,4.0
9,192448,M. ter Stegen,Germany,28,90,93,FC Barcelona,2014 ~ 2022,GK,187cm,...,85,88,90,45,88,130,Expired,2014.0,2022.0,8.0

In [37]:
df.rename(columns={'↓OVA': 'OVA'}, inplace=True)

In [38]:
import numpy as np

def clean_currency(value):
    if pd.isna(value):
        return np.nan
    # Use regex to replace '€', 'M', and 'K' while also handling '€ 1.2M' format
    value = str(value).replace('€', '').strip()
    if 'M' in value:
        return float(value.replace('M', '')) * 1_000_000
    elif 'K' in value:
        return float(value.replace('K', '')) * 1_000
    return float(value)

df['Value'] = df['Value'].apply(clean_currency)
df['Wage'] = df['Wage'].apply(clean_currency)
df['Release Clause'] = df['Release Clause'].apply(clean_currency)

In [39]:
df[['Value','Wage','Release Clause']].head(10)

         Value      Wage  Release Clause
0  103500000.0  560000.0     138400000.0
1   63000000.0  220000.0      75900000.0
2  120000000.0  125000.0     159400000.0
3  129000000.0  370000.0     161000000.0
4  132000000.0  270000.0     166500000.0
5  111000000.0  240000.0     132000000.0
6  120500000.0  250000.0     144300000.0
7  102000000.0  160000.0     120300000.0
8  185500000.0  160000.0     203100000.0
9  110000000.0  260000.0     147700000.0

In [40]:
df.drop(['photoUrl','playerUrl'], axis=1, inplace=True)

In [41]:
df['Joined'] = pd.to_datetime(df['Joined'])
df['Loan Date End'] = pd.to_datetime(df['Loan Date End'], errors='coerce')

# Fill nulls in Loan Date End with a placeholder string to indicate no loan
df['Loan Date End'].fillna('No Loan', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3388\3779409178.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan Date End'].fillna('No Loan', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_3388\3779409178.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'No Loan' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['Loan Date End'].fillna('No Loan', inplace=True)

In [42]:
df['Club'].sample(30)

5618                               \n\n\n\nDC United
11031                        \n\n\n\nFortuna Sittard
13094                                \n\n\n\nSC Verl
9246        \n\n\n\nUniversidad Católica del Ecuador
12875                      \n\n\n\nOriente Petrolero
16515                      \n\n\n\nStandard de Liège
15874                               \n\n\n\nParis FC
1549                            \n\n\n\nSparta Praha
12647                           \n\n\n\nRKC Waalwijk
12359                         \n\n\n\nSKN St. Pölten
16099                        \n\n\n\nCrewe Alexandra
17683                               \n\n\n\nUTA Arad
6365                                \n\n\n\nFC Seoul
2993                                \n\n\n\nCFR Cluj
12561                          \n\n\n\nBurton Albion
10155                           \n\n\n\nFC Barcelona
4965                  \n\n\n\nToulouse Football Club
18402                 \n\n\n\nHebei China Fortune FC
6793                            \n\n\n\nClub Guaraní
6966                         \n\n\n\nColorado Rapids
11249                        \n\n\n\nFK Austria Wien
7547                           \n\n\n\nOxford United
9205                              \n\n\n\nGwangJu FC
4759                     \n\n\n\nSanfrecce Hiroshima
11065                             \n\n\n\nGangwon FC
10575                             \n\n\n\nPortsmouth
14494                             \n\n\n\nWuhan Zall
10888    \n\n\n\nChongqing Dangdai Lifan FC SWM Team
3608                               \n\n\n\nSD Huesca
16327                    \n\n\n\nBayer 04 Leverkusen
Name: Club, dtype: object

In [43]:
df['Club'] = df['Club'].str.strip()

In [44]:
df['Contract'].sample(30)

806      2011 ~ 2022
7683     2020 ~ 2024
7973     2015 ~ 2022
9847     2019 ~ 2021
10033    2020 ~ 2022
17197    2018 ~ 2021
6922     2020 ~ 2025
18294    2019 ~ 2022
2026     2020 ~ 2024
16094    2019 ~ 2022
8094     2019 ~ 2021
7200     2020 ~ 2023
16766    2019 ~ 2024
4649     2020 ~ 2023
305      2020 ~ 2025
9620     2019 ~ 2022
4902     2013 ~ 2020
7616     2019 ~ 2023
17460    2019 ~ 2020
12480    2019 ~ 2020
15470    2020 ~ 2022
15585    2020 ~ 2024
16067    2020 ~ 2021
18463    2019 ~ 2024
11124    2020 ~ 2020
5568     2020 ~ 2021
7978     2020 ~ 2022
6215     2018 ~ 2024
17004    2017 ~ 2022
7394     2020 ~ 2021
Name: Contract, dtype: object

In [45]:
import pandas as pd
import numpy as np
import datetime

# Get the current year
current_year = datetime.datetime.now().year

# Create the new Contract Type column
conditions = [
    df['Contract'].str.contains('On Loan', case=False, na=False),
    df['Contract'].str.contains('Free', case=False, na=False),
    (df['Contract'].str.contains('~', na=False))
]
choices = ['On Loan', 'Free', 'Active']
df['Contract Type'] = np.select(conditions, choices, default=None)

# Initialize new year columns
df['Contract Start'] = None
df['Contract End'] = None

# Extract start and end years for 'Active' contracts
active_mask = df['Contract Type'] == 'Active'
contract_periods = df.loc[active_mask, 'Contract'].str.extract(r'(\d{4})\s*~\s*(\d{4})')
df.loc[active_mask, 'Contract Start'] = contract_periods[0]
df.loc[active_mask, 'Contract End'] = contract_periods[1]

# Extract end year for 'On Loan' contracts
on_loan_mask = df['Contract Type'] == 'On Loan'
loan_years = df.loc[on_loan_mask, 'Contract'].str.extract(r'(\d{4})\s*On Loan', expand=False)
df.loc[on_loan_mask, 'Contract End'] = loan_years

# Re-evaluate the 'Contract Type' based on the current year
# Now, filter out 'Active' contracts where the end year does not match the current year.
# The `fillna(-1)` is used to treat NaNs as a non-matching value.
df.loc[(df['Contract Type'] == 'Active') & (pd.to_numeric(df['Contract End'], errors='coerce') != current_year), 'Contract Type'] = 'Expired'

# Calculate the duration for 'Active' contracts
active_contracts_mask = df['Contract Type'] == 'Active'
df['Contract Duration'] = None  # Initialize the new column
duration = pd.to_numeric(df['Contract End']) - pd.to_numeric(df['Contract Start'])
df.loc[active_contracts_mask, 'Contract Duration'] = duration[active_contracts_mask]

# Convert the new year columns to numeric type
df['Contract Start'] = pd.to_numeric(df['Contract Start'])
df['Contract End'] = pd.to_numeric(df['Contract End'])

# Print the modified DataFrame to see the result
print(df[['Contract', 'Contract Type', 'Contract Start', 'Contract End', 'Contract Duration']])

          Contract Contract Type  Contract Start  Contract End  \
0      2004 ~ 2021       Expired          2004.0        2021.0
1      2018 ~ 2022       Expired          2018.0        2022.0
2      2014 ~ 2023       Expired          2014.0        2023.0
3      2015 ~ 2023       Expired          2015.0        2023.0
4      2017 ~ 2022       Expired          2017.0        2022.0
...            ...           ...             ...           ...
18974  2018 ~ 2022       Expired          2018.0        2022.0
18975  2020 ~ 2021       Expired          2020.0        2021.0
18976  2019 ~ 2020       Expired          2019.0        2020.0
18977  2020 ~ 2022       Expired          2020.0        2022.0
18978  2019 ~ 2023       Expired          2019.0        2023.0

      Contract Duration
0                  None
1                  None
2                  None
3                  None
4                  None
...                 ...
18974              None
18975              None
18976              None
18977              None
18978              None

[18979 rows x 5 columns]

In [46]:
df['Contract Duration'] = df['Contract End'] - df['Contract Start']

In [47]:
df['Contract Duration']

0        17.0
1         4.0
2         9.0
3         8.0
4         5.0
         ...
18974     4.0
18975     1.0
18976     1.0
18977     2.0
18978     4.0
Name: Contract Duration, Length: 18979, dtype: float64

In [55]:
df[['W/F','SM','IR']].head(10)

   W/F  SM  IR
0    4   4   5
1    4   5   5
2    3   1   3
3    5   4   4
4    5   5   5
5    4   4   4
6    3   4   3
7    3   1   3
8    4   5   3
9    4   1   3

In [53]:
import pandas as pd
import numpy as np

# List the columns you want to transform
columns_to_convert = ['W/F', 'SM', 'IR']

# Loop through each column and perform the transformation
for column in columns_to_convert:
    # 1. Convert to string to ensure the .str accessor can be used
    df[column] = df[column].astype(str)
    
    # 2. Extract only the digits using a regular expression.
    # This safely handles cases with or without spaces before the star.
    df[column] = df[column].str.extract(r'(\d+)', expand=False)

    # 3. Convert to numeric using pd.to_numeric, with errors='coerce'
    # to handle any remaining non-convertible values by setting them to NaN.
    # Then convert to the nullable integer type 'Int64'.
    df[column] = pd.to_numeric(df[column], errors='coerce').astype('Int64')

In [54]:
print(df.dtypes)

ID                     int64
Name                  object
Nationality           object
Age                    int64
OVA                    int64
                      ...
Hits                  object
Contract Type         object
Contract Start       float64
Contract End         float64
Contract Duration    float64
Length: 78, dtype: object

In [56]:
df.head(10)

,ID,Name,Nationality,Age,OVA,POT,Club,Contract,Positions,Height,...,SHO,PAS,DRI,DEF,PHY,Hits,Contract Type,Contract Start,Contract End,Contract Duration
0,158023,L. Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,...,92,91,95,38,65,771,Expired,2004.0,2021.0,17.0
1,20801,Cristiano Ronaldo,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",187cm,...,93,81,89,35,77,562,Expired,2018.0,2022.0,4.0
2,200389,J. Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,188cm,...,92,78,90,52,90,150,Expired,2014.0,2023.0,9.0
3,192985,K. De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",181cm,...,86,93,88,64,78,207,Expired,2015.0,2023.0,8.0
4,190871,Neymar Jr,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,...,85,86,94,36,59,595,Expired,2017.0,2022.0,5.0
5,188545,R. Lewandowski,Poland,31,91,91,FC Bayern München,2014 ~ 2023,ST,184cm,...,91,78,85,43,82,248,Expired,2014.0,2023.0,9.0
6,209331,M. Salah,Egypt,28,90,90,Liverpool,2017 ~ 2023,RW,175cm,...,86,81,90,45,75,246,Expired,2017.0,2023.0,6.0
7,212831,Alisson,Brazil,27,90,91,Liverpool,2018 ~ 2024,GK,191cm,...,88,85,89,51,91,120,Expired,2018.0,2024.0,6.0
8,231747,K. Mbappé,France,21,90,95,Paris Saint-Germain,2018 ~ 2022,"ST, LW, RW",178cm,...,86,78,91,39,76,1.6K,Expired,2018.0,2022.0,4.0
9,192448,M. ter Stegen,Germany,28,90,93,FC Barcelona,2014 ~ 2022,GK,187cm,...,85,88,90,45,88,130,Expired,2014.0,2022.0,8.0